# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env
.venv/
ENV/
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Local configuration
instance/
.webassets-cache

# Database files
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pytest
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# Local development settings
local_settings.py 
.vercel
